@page "/foods/create"
@using Microsoft.EntityFrameworkCore
@using FoodShopBlazor.Models
@inject IDbContextFactory<FoodShopBlazor.Data.FoodShopBlazorContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Create</PageTitle>

<h1>Create</h1>

<h2>Food</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="Food" OnValidSubmit="AddFood" FormName="create" Enhance>
            <DataAnnotationsValidator />
            <ValidationSummary class="text-danger" role="alert"/>
            <div class="mb-3">
                <label for="name" class="form-label">Name:</label> 
                <InputText id="name" @bind-Value="Food.Name" class="form-control" /> 
                <ValidationMessage For="() => Food.Name" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="price" class="form-label">Price:</label> 
                <InputNumber id="price" @bind-Value="Food.Price" class="form-control" /> 
                <ValidationMessage For="() => Food.Price" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="description" class="form-label">Description:</label> 
                <InputText id="description" @bind-Value="Food.Description" class="form-control" /> 
                <ValidationMessage For="() => Food.Description" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="imageurl" class="form-label">ImageUrl:</label> 
                <InputText id="imageurl" @bind-Value="Food.ImageUrl" class="form-control" /> 
                <ValidationMessage For="() => Food.ImageUrl" class="text-danger" /> 
            </div>        
            <div class="mb-3">
                <label for="restaurantid" class="form-label">RestaurantId:</label> 
                <InputNumber id="restaurantid" @bind-Value="Food.RestaurantId" class="form-control" /> 
                <ValidationMessage For="() => Food.RestaurantId" class="text-danger" /> 
            </div>        
            <button type="submit" class="btn btn-primary">Create</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/foods">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private Food Food { get; set; } = new();

    // To protect from overposting attacks, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task AddFood()
    {
        using var context = DbFactory.CreateDbContext();
        context.Food.Add(Food);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/foods");
    }
}
